.container {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden !important;
    position: relative;
}

.inner_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sanat {
    flex-shrink: 0;
    display: block;
    position: absolute;
    width: 100vw;
    left: -5vw;
    top: -12vh;
    /* scale: 0.95; */
}

.input {
    background-color: transparent !important;
}