@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayXThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayXThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/src/assets/fonts/NeueHaasDisplayXXThinItalic.ttf') format('truetype');
  font-weight: 50;
  font-style: italic;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'NeueHaasDisplay', sans-serif;
}